<h1>Choose one of your privileges:</h1>

<ol>
  <h1>POTS</h1>
  <li><p><%= link_to 'See All Pots', admin_pots_path %></p></li>
  <li><p><%= link_to 'Add New Pot', new_admin_pot_path %></p></li>

  <h1>FLOWERS</h1>
  <li><p><%= link_to 'See All Flowers', admin_flowers_path %></p></li>
  <li><p><%= link_to 'Add New Flower', new_admin_flower_path %></p></li>

  <h1>ORDERS</h1>
  <li><p><%= link_to 'See All Orders', admin_orders_path %></p></li>

  <h1>USERS</h1>
  <li><p><%= link_to 'See All Users', admin_users_path %></p></li>
</ol>
