<section id="order-flowers">
  <h1>Please select the flowers</h1>

  <%= form_tag(display_new_order_flower_path) do |f| %>
    <fieldset>
      <ul>
        <%= render partial: 'flowers/new_flower', collection: @flowers, as: :flower %>
      </ul>
      <p>
        <%= submit_tag'Confirm' %>
        <%= link_to 'Cancel', root_path %>
      </p>
    </fieldset>
  <% end %> 
</section>

<% content_for(:side) do %>
  <%= render partial: 'carts/side_cart' %>
<% end %>
