<section id="order-pots">
  <h1>Please select a pot</h1>

  <%= form_tag(display_new_order_pot_path) do |f| %>
    <fieldset>
      <ul>
        <% @pots.each do |pot| %>
            <li>
              <%= radio_button_tag(:pot_id, pot.id, pot.id === 1, required: 'required') %>
              <%= image_tag(pot.image, size: "200x200") %>
              <p>Name: <%= pot.name %></p>
              <p>Dimensions: <%= pot.dimensions %></p>
              <p>Material: <%= pot.material %></p>
              <p>Price: <%= pot.price %> Euro</p>
            </li>
        <% end %>
      </ul>
      <p>
        <%= submit_tag 'Confirm' %>
        <%= link_to 'Cancel', root_path %>
      </p>
    </fieldset>
  <% end %>
</section>





<% content_for(:side) %>
<% if current_user %>
  <h1>Your Cart</h1>
  
  <% current_carts.each do |cart| %>
    <% cart.pots.each_with_index do |pot, i| %>
    <ul>
      <li>Pot: 
        <%= pot.name %>
        <%= pot.dimensions %>
        <%= pot.material %>
        <%= pot.price %>

        <p>Flowers:
        <% cart.cart_pots[i].flowers.each_with_index do |flower, j| %>
          <%= flower.name %>(<%= cart.cart_pots[i].cart_flowers[j].units %>)
        <% end %>
        </p>
        
        <p>Individual Price: <%= cart.cart_pots[i].total_price %></p>
      </li>
    </ul>
    <% end %>
  <% end %>
  <h3>Total price: <%= current_user.total_orders_price_in_cart %> </h3>
<% end %>
