<section id="user-profile">
  <h1>Your Profile</h1>

  <header>
    <h2><%= @user.email %></h2>
  </header>

  <h1>Your Orders</h1>

  <ul class="flex">
  <% current_orders.each do |order| %>
    <% order.pots.each_with_index do |pot, i| %>
      <li>
        <div class="flex f-column">Pot
          <%= image_tag(pot.image, size: "100x100") %>
          <%= pot.name %>
          <%= pot.dimensions %>
          <%= pot.material %>
          <%= pot.price %>
        </div>

        <div class="flex f-column">Flowers:
        <% order.order_pots[i].flowers.each do |flower| %>
          <%= image_tag(flower.image, size: "100x100") %>
          <%= flower.name %>
        <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
  </ul>
</section>





