<li>
  <%= radio_button_tag(:pot_id, pot.id, pot.id === 1, required: 'required') %>
  <%= image_tag(pot.image, size: "200x200") %>
  <p>Name: <%= pot.name %></p>
  <p>Dimensions: <%= pot.dimensions %></p>
  <p>Material: <%= pot.material %></p>
  <p>Price: <%= pot.price %> Euro</p>
  <p>Capacity: <%= pot.capacity %> Flowers</p>
</li>