<div class="flex f-column">Pot
  <%= image_tag(pot.image, size: "100x100") %>
  <%= pot.name %> <br>
  <%= pot.dimensions %>
  <%= pot.material %>
  <%= pot.price %>
  <%= pot.capacity %>
</div>

<% if current_user_admin? && !@buttons_off %>
  <button><%= link_to 'Edit', edit_admin_pot_path(pot.id) %></button>
  <button><%= link_to 'Delete', admin_pot_path(pot.id), method: :delete, data: { confirm: 'Are you sure?' } %></button> 
<% end %>