<h1>Please complete to submit order</h1>

<%= render 'users/personal_data' %>
<%= render 'shared/errors', object: @order %>
<%= render 'orders/form', object: @order %>

<hr>
<h3>See Order Details</h3>

<ul class="flex">
  <% @carts.each_with_index do |cart, j| %>
    <% cart.cart_pots.each_with_index do |cart_pot, i| %>
      <li>
        <%= render partial: 'pots/pot', locals: { pot: cart_pot.pot } %>    
        <div class="flex f-column">Flowers:
          <%= render partial: 'flowers/flower', collection: cart_pot.cart_flowers, as: :order_flower %>
        </div>
        <p>Individual Price: <%= cart_pot.total_price %></p>
      </li>
    <% end %>
  <% end %>
</ul>
