<hr>
<h3><%= #@user.name %>'s Orders:</h3>

<% #content_for(:side) do %>
  <%# @pots.each_with_index do |pot, i| %>
  <ul>
    <li>Pot: 
      <%= #pot.name %>
      <%= #pot.dimensions %>
      <%= #pot.material %>
      <%= #pot.price %>

      <p>Flowers:
      <%# @order_pots[i].flowers.each do |flower| %>
        <%=# flower.name %>
      <% #end %>
      </p>
    </li>
  </ul>
  <%# end %>
<% #end %>