<h1>Choose one of your privileges:</h1>

<ol>
  <h1>POTS</h1>
  <li><p><%= link_to 'See All Pots', pots_path %></p></li>
  <li><p><%= link_to 'Add New Pot', new_pot_path %></p></li>

  <h1>FLOWERS</h1>
  <li><p><%= link_to 'See All Flowers', flowers_path %></p></li>
  <li><p><%= link_to 'Add New Flower', new_flower_path %></p></li>

  <h1>ORDERS</h1>
  <li><p><%= link_to 'See All Orders', orders_path %></p></li>

  <h1>CARTS</h1>
  <li><p><%= link_to 'See All Carts', carts_path %></p></li>

  <h1>USERS</h1>
  <li><p><%= link_to 'See All Users', users_path %></p></li>
</ol>
