<section id="order-pots">
  <h1>Please select a pot</h1>

  <%= form_for(@order_pot) do |f| %>
    <fieldset>
      <ul>
        <% @pots.each do |pot| %>
            <li>
              <%= radio_button_tag(:pot_id, pot.id) %>
              <%= image_tag(pot.image, size: "200x200") %>
              <p>Name: <%= pot.name %></p>
              <p>Dimensions: <%= pot.dimensions %></p>
              <p>Material: <%= pot.material %></p>
              <p>Price: <%= pot.price %> Euro</p>
            </li>
        <% end %>
      </ul>
      <p>
        <%= f.submit 'Confirm' %>
        <%= link_to "Cancel" %>
      </p>
    </fieldset>
  <% end %>
</section>

<% content_for(:side) %>
<% if current_user %>
  <h1>Your Orders</h1>
  
  <% current_orders.each do |order| %>
    <% order.pots.each_with_index do |pot, i| %>
    <ul>
      <li>Pot: 
        <%= pot.name %>
        <%= pot.dimensions %>
        <%= pot.material %>
        <%= pot.price %>

        <p>Flowers:
        <% order.order_pots[i].flowers.each do |flower| %>
          <%= flower.name %>
        <% end %>
        </p>
      </li>
    </ul>
    <% end %>
  <% end %>
<% end %>
