<header id="site-header">
  <nav class="container header-content">
    <ul>
      <li>
        <%= link_to 'Home', root_path %>
      </li>
    <% if current_user %>
      <li>
        <%= link_to 'My Floretes', current_user %>            
      </li>
      <li>
        <%= link_to 'New Order', display_new_order_pot_path %>
      </li>
      <li>
        <%= link_to 'Log Out', session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to 'Sign In', signin_path %>
      </li>
      <li>
        <%= link_to 'Sign Up', signup_path %>
      </li>
    <% end %>
    </ul>
  </nav>
</header>